body {
    background-color: #F7F6F2;
    margin: 70px 80px 70px 80px;
  }
  
  div {
    padding-bottom: 50px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    border: 5px double #325B48;
    margin: 10px;
  }
  
  h2 {
    font-family: "Playfair Display SC", serif;
    color: #325B48;
    border-top: 2px solid #325B48;
    padding-top: 20px;
  }
  
  .profile {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    color: #1F4C61;
    border: 2px solid;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 100px 430px 120px 430px;
    box-shadow: 5px 5px #42555E;
  }
  
  h4 {
    color: #225A75;
    font-family: "Quattrocento", serif;
  }
  
  p {
    color: #666B72;
    font-family: "Lusitana", serif;
  }
  
  .info {
    max-width: 1180px;
  }
  
  #underline {
    text-decoration: underline;
  }
  
  
